@model IEnumerable<KRoos_29590868_Project2_DimensionData.Models.MaritalStatus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaritalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaritalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaritalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
