@model KRoos_29590868_Project2_DimensionData.Models.Gender

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Gender</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GenderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
